body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

button, input {
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}

input {
    width: 300px;
    text-align: center;
}

#mensagens {
    margin-top: 20px;
}
